{% extends 'base.html' %}

{% load static %}


{% block content %}
<!-- home section starts  -->

<section class="home" id="home">

    <div class="image">
    	
        <img src="{% static 'app/image/home-img.svg' %}" alt="">
    </div>

    <div class="content">
        <h3>stay safe, stay healthy</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sed autem vero? Magnam, est laboriosam!</p>
        <a href="#" class="btn"> contact us <span class="fas fa-chevron-right"></span> </a>
    </div>

</section>

<!-- home section ends -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-user-md"></i>
        <h3>140+</h3>
        <p>doctors at work</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>1040+</h3>
        <p>satisfied patients</p>
    </div>

    <div class="icons">
        <i class="fas fa-procedures"></i>
        <h3>500+</h3>
        <p>bed facility</p>
    </div>

    <div class="icons">
        <i class="fas fa-hospital"></i>
        <h3>80+</h3>
        <p>available hospitals</p>
    </div>

</section>

<!-- icons section ends -->


<section class="book" id="appont">

    <h1 class="heading"> <span>Make a appointment</span> now </h1>    

    <div class="row">

        <form action="{{ contact }}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="your name" class="box" name="name">
            <input type="number" placeholder="your number" class="box" name="phone">
            <input type="email" placeholder="your email" class="box" name="email">
            <textarea rows="2" cols="2" placeholder="address" class="box" name="address"></textarea>
            <select name="shedule" class="box">
                <option value="choose your shedule">choose your shedule</option>
                <option value="tuesday" >tuesday</option>
                <option value="wednesday">wednesday</option>
                <option value="saturday">saturday</option>
                <option value="sunday">sunday</option>
            </select>
            <select name="time" class="box">
                <option value="Choose your time">choose your time</option>
                <option value="9 AM to 10 AM" >9 AM to 10 AM</option>
                <option value="11 AM to 12 PM">11 AM to 12 PM</option>
                <option value="2 PM to 4 PM">2 PM to 4 PM</option>
                <option value="8 PM to 10 PM">8 PM to 10 PM</option>
            </select>
            <textarea rows="4" cols="4" placeholder="message" class="box" name="message"></textarea>
            <input type="submit" value="book now" class="btn">
        </form>

    </div>

</section>

<!-- booking section ends -->


<section>
<table width="75%" style="border-collapse: collapse;border-color: #16a085">
    <tr>
        <th>Name</th>
        <th>Contact No</th>
        <th>Email</th>
        <th>Address</th>
        <th>Shedule</th>
        <th>Time</th>
        <th>Message</th>
    </tr>
    <tr>
       <td>{{name}}</td>
       <td>{{phone}}</td>
       <td>{{email}}</td>
       <td>{{address}}</td>
       <td>{{shedule}}</td>
       <td>{{time}}</td>
       <td>{{message}}</td> 
    </tr>
</table>
</section>

{% endblock %}